.idea/*
.DS_Store
crap_os/target/*
crap_os/Cargo.lock
crap_loader/kernel
crap_loader/kernel.bin
crap_loader/boot.img
crap_loader/boot.vmdk
crap_loader/boot.vdi
crap_loader/craploader.efi
crap_loader/craploader.o
crap_loader/craploader.so
